/* Ctrl + / - запись комментария */
/* Шрифты */
span {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
}
body {
  font-family: Roboto, sans-serif;
}
