/* Ctrl + / - запись комментария */

/* Логотип */
:root {
  --blak-color: #212121;
}
:root {
  --blu-color: #2196f3;
}
:root {
  --grey-color: #757575;
}
:root {
  --white-color: #ffffff;
}
:root {
  --background-grey: #2f303a;
}
:root {
  --background-filter: #f5f4fa;
}
span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blak-color);
}
/* Шрифты на бади*/
body {
  font-family: Roboto, sans-serif;
  color: var(--black-color);
}
/* Кнопки навигации */
