/* Ctrl + / - запись комментария */

/* Логотип */
:root {
  --blak-color: #212121;
}
:root {
  --blu-color: #2196f3;
}
:root {
  --grey-color: #757575;
}
:root {
  --white-color: #ffffff;
}
:root {
  --background-grey: #2f303a;
}
:root {
  --background-filter: #f5f4fa;
}
span {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  color: var(--blak-color);
}
/* Шрифты на бади*/
body {
  font-family: Roboto, sans-serif;
  color: var(--black-color);
}
/* Кнопки навигации */
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
.logo :hover {
  color: var(--blu-color);
}
.logo :focus {
  color: var(--blu-color);
}
.web {
  color: var(--blu-color);
}
.navigation {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}
.navigation-text:hover {
  color: var(--blu-color);
}
.navigation-text:focus {
  color: var(--blu-color);
}
/* контакты в хедере */
.contacts-h {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--grey-color);
}
.contacts-h:hover {
  color: var(--blu-color);
}
.contacts-h:focus {
  color: var(--blu-color);
}
/* Герой */
.hero {
  background-color: var(--background-grey);
}
h1 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--white-color);
}
/* Кнопка */
.order {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background: var(--blu-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.order {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  color: var(--white-color);
}
button {
  cursor: pointer;
}
.list {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.list-type {
  font-size: 14px;
  line-height: 1.71;
  color: var(--grey-color);
}
/* инфо про роьоту компании */
h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.position {
  font-size: 16px;
  line-height: 1.18;
  color: var(--grey-color);
}
footer {
  background-color: var(--background-grey);
}
.web-blu {
  color: var(--blu-color);
}
.studio-white {
  color: var(--white-color);
}
.google-maps {
  font-size: 14px;
  line-height: 1.71;
  color: var(--white-color);
}
.google-maps :hover {
  color: var(--blu-color);
}
.google-maps :focus {
  color: var(--blu-color);
}

/* страница портфолио */

.filter {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border-radius: 4px;
}
.filter :hover {
  color: var(--white-color);
}
.filter :hover {
  background: var(--blu-color);
}

.job {
  ont-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.job-title {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.link-job:hover {
  width: 370px;
  background-color: var(--background-filter);
}
